.git
.gitignore
.editorconfig
.idea
.vscode
.env
.env.backup
.env.production
vendor/
node_modules/
public/build/
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
phpunit.xml
tests/
Dockerfile
docker-compose.yml
README.md
